<div>
  <div>
    <p>Plataforma: 
      <select [(ngModel)]="plataformaSelec" (ngModelChange)="plataformaSeleccionada($event)">
        <option *ngFor="let plataformas of endpoints">
            {{plataformas.plataforma}}
        </option>
      </select></p>
  </div>
  <div *ngFor="let data of endpoints">
    <div *ngIf="plataformaSelec === data.plataforma">
      <p *ngFor="let dataCE of data.campos">{{dataCE.etiqueta}}: <label><input [(ngModel)]="dataCE.campo" type="text"></label></p>
    </div>
  </div>
  <br>
  <div>
    <button type="button">
      Enviar
    </button>
  </div>
</div>